<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
    <title>Homepage</title>
</head>
<body>
    <div class="main-box">

        <div class="header">
            <h1> The Times of India </h1>
        </div>

        <hr>
        <div class="user-options">
            <p>Sign up for the newsletter</p>
            <button><a href="blog-writing.html">Write your blog here</a></button>
        </div>
        <hr>
        <div class="blog-subjects">
            <p>World</p>
            <p>Technology</p>
            <p>Design</p>
            <p>History</p>
            <p>Travel</p>
            <p>Culture</p>
            <p>Business</p>
            <p>Science</p>
            <p>Lifestyle</p>
        </div>
        <hr>
        <div class="feature-post">
            <section class="summary">
                <p class="summary-heading">Title of a longer <br> featured blog post</p>
                <p class="summary-body">Multiple lines of text that form the lede, informing new <br> readers quickly and efficiently about what’s most interesting <br> in this post’s contents.</p>
            </section>
        </div>
        <div class="long-feature-post">
            <section class="left-post-box">
                <div class="post-details">
                    <h1>World</h1>
                    <h2>Featured-post</h2>
                    <p>This is wider card with supporting text below <br> below has a link
                    to longer text</p>
                    <p>Nov 12</p>
                </div>
                <div class="thumbnails">
                    
                </div>
            </section>
            <section class="right-post-box">
                <div class="post-details">
                    <h1>Design</h1>
                    <h2>Post-title</h2>
                    <p>This is wider card with supporting text below <br> below has a link
                        to longer text. </p>
                    <p> Jan 24</p>
                </div>
                <div class="thumbnails">
                    
                </div>
            </section>
        </div>
        <div class="firehouse">
            <section class="sample-post">
                <p>From the Firehouse</p>
                <hr>
                <p class="one-blog">
                    <h1>Sample Blog</h1>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, saepe optio? Deserunt ad delectus quibusdam minima placeat aliquid aliquam porro, nisi voluptatem vero at sequi sapiente iusto adipisci repudiandae amet magni praesentium officiis, doloremque itaque illum minus? Quasi repellendus ipsa, quas hic, repellat maxime error doloremque voluptatibus fuga in debitis dolor explicabo incidunt laboriosam sed obcaecati rerum id iste nostrum sint eligendi corporis reprehenderit tempora? Sed, id suscipit numquam molestiae sit cum consequuntur, incidunt, nesciunt nobis quas repudiandae nemo minus dolorem perspiciatis vel! In corrupti aliquam laudantium tempora necessitatibus. Itaque in illo assumenda voluptatibus nisi a esse iure expedita autem?</h3>
                </p>
                
            </section>
            <section class="recent-post">
                <section class="about">
                    <h1>About</h1>
                    <p>Customize this section to tell 
                        your visitors a little bit about your publication, writers, content, 
                        or something else entirely. Totally up to you.</p>
                </section>
                <section class="sample-post1">
                    <h1>Recent posts</h1>
                    <hr>
                    <section class="sample">
                        <section class="box1">
                        <div class="box"></div>
                        <p class="title"><span> Blog Post title </span> <br>Jan 24, 2024</p>
                        </section>
                        <hr>
                    </section>
                    <section class="sample">
                        <section class="box1">
                        <div class="box"></div>
                        <p class="title"><span> Blog Post title </span> <br>Jan 24, 2024</p>
                        </section>
                        <hr>
                    </section>
                    <section class="sample">
                        <section class="box1">
                        <div class="box"></div>
                        <p class="title"><span> Blog Post title </span> <br>Jan 24, 2024</p>
                        </section>
                        <hr>
                    </section>

                </section>
            </section>
        </div>
    </div>
</body>
</html>